name: Build and Test
run-name: Build and Test

# 觸發此 action 的時機
on:
  push:
    branches:
      - main
      - develop
      - 'feature/**'
      - 'hotfix/**'
      - 'release/**'
      - 'bugfix/**'
      - '!feature/wip/**'
  pull_request:
    branches:
      - main
  workflow_dispatch: # 可以手動執行此 action

# 預先定義此 action 要幹嘛
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Run unit tests
        run: npm run test:unit

      - name: Build project
        run: npm run build
